<?xml version="1.0"?>
<launch>

    <arg name="env_map" default="$(find yahboom_nav)/maps/map.yaml"/>

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$( arg env_map)"/>

    <!-- Topic scan -->
    <!--<node name="node_name" pkg="node_name" type="node_name" output="screen"/>-->
    
    <!-- AMCL -->
    <node name="amcl" pkg="amcl" type="amcl">
        <rosparam command="load" file="$(find yahboom_nav)/param/amcl.yaml"/>
    </node>

</launch>